@model List<PEDevTracker.Models.DevPost>
@{
    ViewBag.Title = "Home Page";
    
}
<h3>Latest Developers Posts</h3>

@foreach (PEDevTracker.Models.DevPost devPost in Model)
{
    <p>~~~~~~</p>
    <div>
        <div class="row">
            Posted by <a href="@devPost.Author.GetProfileUri()" target="_blank">@devPost.Author.DisplayName</a> on @devPost.Date
        </div>
        <div class="row">
            <span class="dev-post-quote-text">@Html.Raw(devPost.Content)</span>
        </div>
        <div class="row">
            Retrieved on: @devPost.RetrieveDate.ToShortDateString() at @devPost.RetrieveDate.ToShortTimeString()
            <a href="@devPost.Uri" target="_blank">Source</a> | <a href="#">Permalink</a>
        </div>
    </div>
}
