@model PEDevTracker.Models.Developer
@{
    ViewBag.Title = "View" + Model.DisplayName + " profile";
    Layout = "~/Views/Shared/_BootstrapLayout.cshtml";
    IList<PEDevTracker.Models.DevPost> posts = Model.FetchPostsFromLocal(50);
}

<h2>@Model.DisplayName</h2>
<div>The profile page of @Model.DisplayName is located there: <a href="@Model.GetProfileUri().ToString()" target="_blank">@Model.GetProfileUri().ToString()</a>. 
    We retrieved a total of <b>@Model.GetPostCount().ToString() posts</b> from this person.
</div>
<h2>Posts</h2>
<div>
    @foreach (PEDevTracker.Models.DevPost post in posts)
    {
        Html.RenderPartial("_DevPost", post);
    }
</div>
